
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f3fa;
    margin: 0;
}

.content-card {
    background: white;
    margin: 2rem auto;
    border-radius: 15px;
    padding: 2rem;
    max-width: 90%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

.section-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.section-header img {
    height: 40px;
    margin-right: 1rem;
}
.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.subtitle {
    color: gray;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    position: relative;
  }

  .card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    transform: translateY(-4px);
    transition: all 0.3s ease;
}

  .card h3 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .card p {
    margin: 0 0 15px;
    color: #666;
  }
  .download-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 13px;
}
.download-btn:hover {
    background-color: #ddd;
    border-color: #bbb;
}

  .btn-csv {
    background-color: #a76b00;
    color: white;
    border: none;
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 5px;
    margin-right: 5px;
  }

  .card.no-border {
    border-left: none;
  }